main{
   width:50%;
   height:50%;
    margin:auto;
}

li{
    list-style:none;
}

/* bootstrapのcssでborder-width:0;と宣言されているので、線が引けない */


h2{
    margin:auto;
}

.list-group div{
    margin:auto;
    display: inline-block;
}


/*名前枠*/

/*削除ボタン*/
a.list-group-item{
    width:250px;
    text-align:left;
} 
td .list-group-item:hover{
    color:blue;
}


